@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.dropdown:hover .dropdown-menu {
    display: block;
  }
.custom-height {
    width: 650px;
  }

.accordion-content {
    display: none;
  }